<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Cell Number</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.cell_number %></td>
        <td style="display: flex; gap: 5px;">
          <%= button_to 'Show', user_path(user), method: :get, class: 'btn btn-outline-success', style: 'margin: 0;' %>
          <%= button_to 'Edit', edit_user_path(user), method: :get, class: 'btn btn-outline-primary', style: 'margin: 0;' %>
          <%= button_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger', style: 'margin: 0;' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
<% if can? :create, User%>
  <%= link_to 'New User', new_user_path, class: 'btn btn-outline-primary' %>
<% end %>
