<p style="color: green"><%= notice %></p>

<% content_for :title, "Orders" %>

<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Status</th>
      <th>Purchaser</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product.name %></td> <!-- Assuming Product has a name attribute -->
        <td><%= order.status %></td>
        <td><%= order.user.full_name %></td> <!-- Assuming User has a full_name attribute -->
        <td>
          <button class="btn btn-outline-success">
            <%= link_to "Show", order, style: 'color:white; text-decoration:none' %>
          </button>
          <button class="btn btn-outline-primary">
            <%= link_to "Edit", edit_order_path(order), style: 'color:white; text-decoration:none' %>
          </button>
          <button class="btn btn-outline-danger">
            <%= link_to "Destroy", order, method: :delete, data: { confirm: 'Are you sure?' }, style: 'color:white; text-decoration:none' %>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %> <!-- Pagination controls -->

<button class="btn btn-outline-primary">
  <%= link_to "New order", new_order_path, style: 'color:white; text-decoration:none' %>
</button>
