<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <button class="btn btn-outline-primary"><%= link_to "Edit this order", edit_order_path(@order), style: 'color:white; text-decoration:none' %></button> |
  <button class="btn btn-outline-warning"><%= link_to "Back to orders", orders_path, style: 'color:white; text-decoration:none' %></button>

  <br><br>

  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
