<%= form_with(model: vendor, local: true) do |form| %>
  <% if vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
        <% vendor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :full_name %>
      <%= form.text_field :full_name, class: "form-control"  , class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :cell_number %>
      <%= form.text_field :cell_number, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control"  %>
    </div>
  </div>
  
  <br>

  <div class="form-group">
    <div class="field">
      <%= form.label :city_id %>
      <%= form.collection_select :city_id, City.all, :id, :name, prompt: "Select a city" %>
    </div>
  </div>

  <br>

  <div class="form-group">
    <div class="field">
      <%= form.label :vendor_type %>
      <%= form.select :vendor_type, Vendor.vendor_types.keys.map { |type| [type, type] }, prompt: "Select vendor type" %>
    </div>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

  <br>
<% end %>