<p>
  <strong>Full Name:</strong>
  <%= @vendor.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<p>
  <strong>Cell Number:</strong>
  <%= @vendor.cell_number %>
</p>

<p>
  <strong>Vendor Type:</strong>
  <%= @vendor.vendor_type %>
</p>

<button class="btn btn-outline-success"><%= link_to 'Edit', edit_vendor_path(@vendor), style: 'color:white; text-decoration:none' %></button> |
<button class="btn btn-outline-warning"><%= link_to 'Back', vendors_path, style: 'color:white; text-decoration:none' %></button>
